.container {
  width: 80vw;
  position: relative;
  left: 10vw;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}

.home-header {
  margin-top: 0.5em;
  font-size: 1.5em;
  height: 40vh;
  text-align: center;
  padding: 4.5em;
  background-image: url("https://cdn2.hunterdouglas.com/static/carousel/faux-wood-blinds-everwood-trugrain-carousel-01_0.jpg");
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-pitch {
  margin: 4em 0;
  background-color: #e0dede;
  width: 100%;
  height: 30vh;
  padding: 5em 10em;
}

.home-header h1 {
  background-color: rgba(119, 136, 153, 0.5);
  width: 31vw;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  font-weight: 1000;
}
