* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  bottom: 0.5em;
}

.product {
  width: 30vw;
  height: 40vh;
  position: relative;
  left: 6vw;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.product-name {
  position: relative;
  top: 18rem;
  right: 15rem;
  min-width: 20rem;
}

.product img {
  cursor: pointer;
  width: 30vw;
  height: 40vh;
  position: relative;
  left: 4rem;
  border: 3px solid black;
  border-radius: 10px;
}

.product img:hover {
  box-shadow: 0px 10px 15px 0px lightslategray;
}
