.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  margin-right: 10vw;
}

.product-list-title {
  /* border: 2px solid red; */
  position: relative;
  top: 1em;
  width: 70vw;
  margin-left: 15vw;
  padding-left: 1em;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
}
