* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  bottom: 0.5em;
}

.product {
  width: 30vw;
  border-radius: 5px;
  margin: 2.5em;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: lightslategray;
}

.product-name {
  text-align: center;
}

.product img {
  cursor: pointer;
  width: 30vw;
  height: 40vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product:hover {
  box-shadow: 0px 10px 15px 0px lightslategray;
}
