.option-container {
  width: 20vw;
  height: 30vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
  border: 2px solid black;
  border-radius: 10px;
}

.option-container h1 {
  text-align: center;
}

.option-selectors {
  position: relative;
  top: 1em;
  width: 15vw;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}
