.dimension-container {
  height: 30vh;
  width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  background-color: burlywood;
}

.dimension-container h2 {
  text-align: center;
  position: relative;
  top: 0.8em;
}

.dimension-container select {
  width: 10vw;
  position: relative;
  top: 2em;
  margin-top: 1em;
}

.dimension-container label {
  position: relative;
  top: 2.5em;
}
