* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-div {
  padding: 1.2em;
  width: 100vw;
  height: 10vh;
  background-color: blanchedalmond;
  border-bottom: 2px solid black;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.nav-bar ul a {
  text-decoration: none;
  color: lightslategray;
}

.nav-bar ul li {
  font-size: 1rem;
  border: 2px solid darkgrey;
  width: 6vw;
  height: 5vh;
  padding: 5px 10px 5px 17px;
  position: relative;
  bottom: 20px;
  border-radius: 5px;
}

.nav-bar h1 {
  color: burlywood;
  text-decoration: underline;
}
